* {
    font-family: sans-serif;
}

body {
    /* background-color: #121212; */
    background-color: #09122C;

    /* color: aliceblue; */
    color: #E4EFE7;
}


section {
    overflow: hidden;
}


video,
img {
    border-radius: 10px;
}











/* --------------------------------------------- */
/* HEADER */
/* --------------------------------------------- */

.HEADER {
    /* background-color: #01155e42; */
    z-index: 3;

    --tw-backdrop-blur: blur(4px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}









/* --------------------------------------------- */
/* HOME-SECTION */
/* --------------------------------------------- */
.HOME-SECTION {
    overflow: hidden;
    background-image: url(../src/img/background-img/fondo1.svg);
    background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}


.TITTLE,
.TITTLE-SOCIAL-NETWORK {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}


.SUBTITTLE {
    color: #757575;
}

.SUBTITTLE,
.TITTLE-RESUMEN {
    font-size: 20px;
}




/* cont icon */
.CONT-ICON-SOCIAL-NETWORL {
    background-color: #2C2C2C;
}

/* color icon */
.bi-instagram,
.bi-facebook {
    color: aliceblue;
}



.BUTTOM-VIDEO {
    cursor: pointer;

    border-radius: 5px;
    transition: 0.5s;
    background-color: #578FCA;
}

.BUTTOM-VIDEO:hover {
    background-color: #578fcabb;
}




.INFORMATION-BOX {
    /* background-color: #A31D1D; */
    color: #dbdbdb;
    background-color: #f0f8ff14;
    border-radius: 5px;
    user-select: none;
}




.BUTTON-BOOKING:hover,
.CONT-ICON-SOCIAL-NETWORL:hover,
.INFORMATION-BOX:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
}










/* --------------------------------------------- */
/* SERVICE-SECTION */
/* --------------------------------------------- */

.SERVICES-SECTION {
    background-image: url(../src/img/background-img/fondo2.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}



.SERVICE-TEXT-DESCRIPTION {
    /* color: #757575; */
    color: aliceblue;
}



.SERVICE {
    background-color: #f0f8ff14;
    padding: 10px;
    border-radius: 5px;
    user-select: none;
}

.SERVICE-TEXT-DESCRIPTION {
    font-size: 14px;
}



.SERVICE:hover {
    transition: 0.3s;
    background-color: #f0f4ff2c;
    -webkit-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
}



.BARBER-BOX {
    background-color: #e4efe757;
}










/* --------------------------------------------- */
/* PRICE-SECTION */
/* --------------------------------------------- */

.PRICE-SECTION {
    background-color: #161179;
}

.PRICE-A,
.PRICE-BUTTON-B {
    background-color: #FFF;
    color: #2C2C2C;
}

.PRICE-B,
.PRICE-BUTTON-A {
    background-color: #2C2C2C;
    color: #FFF;
}

.PRICE-BUTTON-A,
.PRICE-BUTTON-B {
    cursor: pointer;
}

.PRICE-A:hover,
.PRICE-B:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
}






/* --------------------------------------------- */
/* CONTACT-SECTION */
/* --------------------------------------------- */

.CONTACT-SECTION {
    /* background-image: url(../src/img/background-img/bricks-design-stone-wall-wallpaper-preview.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


.CONTACT-INFO {
    color: #dbdbdb;
    background-color: #f0f8ff14;
    border-radius: 5px;
    padding: 10px;
}





/* --------------------------------------------- */
/* FOOTER */
/* --------------------------------------------- */

footer {
    background-color: #161179;
    color: #dbdbdb;
}





.WHATSAPP-BUTTON {
    background-color: #1ebd58;
    border-radius: 5px;
    padding: 5px 2px;
}