* {
    font-family: sans-serif;
}

body {
    /* background-color: #121212; */
    background-color: #09122C;

    /* color: aliceblue; */
    color: #E4EFE7;
}


section {
    overflow: hidden;
}


video,
img {
    border-radius: 10px;
}


/* HEADER */
.HEADER {
    background-color: #01155e42;
    z-index: 3;

    --tw-backdrop-blur: blur(4px);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.BUTTON-BOOKING {
    background-color: #A31D1D;
    color: aliceblue;
    cursor: pointer;
}

.NAV-OPTION {
    cursor: pointer;
}

.NAV-OPTION:hover {
    color: #FFA725;
}



/* HOME-SECTION */
.HOME-SECTION {
    overflow: hidden;
}


.TITTLE,
.TITTLE-SOCIAL-NETWORK {
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
}


.SUBTITTLE {
    color: #757575;
}




/* cont icon */
.CONT-ICON-SOCIAL-NETWORL {
    background-color: #2C2C2C;
}

/* color icon */
.bi-instagram,
.bi-facebook {
    color: aliceblue;
}





.INFORMATION-BOX {
    background-color: #0d1b46;
    color: #dbdbdb;
}




.BUTTON-BOOKING:hover,
.CONT-ICON-SOCIAL-NETWORL:hover,
.INFORMATION-BOX:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
}











/* SERVICE-SECTION */
.SERVICES-SECTION {
    background-image: url(../src/img/background-img/barberia-background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
 }



.SERVICE-TEXT-DESCRIPTION {
    /* color: #757575; */
    color: aliceblue;
}








/* PRICE-SECTION */
.PRICE-SECTION {
    background-color: #161179;
    padding: 150px 0;
}

.PRICE-A,
.PRICE-BUTTON-B {
    background-color: #dbdbdb;
    color: #2C2C2C;
}

.PRICE-B,
.PRICE-BUTTON-A {
    background-color: #2C2C2C;
    color: #dbdbdb;
}

.PRICE-BUTTON-A,
.PRICE-BUTTON-B {
    cursor: pointer;
}

.PRICE-A:hover,
.PRICE-B:hover {
    transition: 0.3s;
    -webkit-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 18px -3px rgba(0, 0, 0, 0.75);
}



.PRICE-MORE-INFO a {
    color: #FFA725;
}








/* CONTACT-SECTION */
.CONTACT-SECTION {
    background-image: url(../src/img/background-img/bricks-design-stone-wall-wallpaper-preview.jpg);
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
}






/* FOOTER */
footer {
    background-color: #161179;
    color: #dbdbdb;
}