.menu-container {
    position: relative;
}

.BUTTON-BOOKING {
    background-color: #A31D1D;
    color: aliceblue;
    cursor: pointer;
    border-radius: 5px;
}

.NAV-OPTION {
    cursor: pointer;
}

.NAV-OPTION:hover {
    color: #FFA725;
}


.menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #A31D1D;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;
    z-index: 10;
}

.menu p {
    display: block;
    padding: 15px 20px;
    color: aliceblue;
    text-decoration: none;
    transition: background 0.3s;
}

.menu a:hover {
    background-color: #f0f0f0;
}

.menu.open {
    width: 200px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Animación de la hamburguesa */
.hamburger-btn.active .bar:nth-child(1) {
    transform: translateY(12px) rotate(45deg);
}

.hamburger-btn.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger-btn.active .bar:nth-child(3) {
    transform: translateY(-12px) rotate(-45deg);
}